@color-main: #fbdb4b;
@color-main-font: #000;

// @color-main: #b2e7b6;
@color-focus-1: #ea736d;
@color-focus-2: #ed574f;

@import "blocks/_base.less";
@import "blocks/_header.less";
@import "blocks/_nav.less";
@import "blocks/_section-portfolio.less";
@import "blocks/_section-technology.less";
@import "blocks/_section-contacts.less";
@import "blocks/_footer.less";