.section-portfolio {
	padding-top: 120px;
	padding-bottom: 125px;

	background-color: #f4f8f9;
}

.section-portfolio__title {
	margin-bottom: 65px;
}

.portfolio-filter__list {
	display: flex;

	margin-bottom: 50px;
}

.portfolio-filter__item {
	margin-right: 80px;

	&:last-child {
		margin-right: 0;
	}

}

.portfolio-filter__item a {
	font-size: 28px;
	font-weight: 800;
	color: rgb(143, 165, 174);
	line-height: 1.2;

	&.active {
		color: #000;
	}

	&:hover {
		color: @color-focus-1;
	}
}

.project-cards__row-first {
	display: flex;
	justify-content: space-between;
}

.project-cards__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-bottom: 60px;

	&:last-child {
		margin-bottom: 0;
	}
}

.project-card__img-wrapper {
	margin-bottom: 30px;
}

.project-card__img {
	width: 100%;
}

.project-card__title {
	margin-bottom: 14px;
}

.project-card__desc {
	font-size: 20px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	font-weight: 300;

}